.settings/
*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
/.cproject
/.project
/darknet53.conv.74
/bad.list
/libdarknet.a
/libdarknet.so
/yolov3-parcel_800.weights
/yolov3.weights
